/* ----------------------------------- */
/* -------------- Resets ------------- */

* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
    box-sizing: border-box;
    /* outline: solid green; */
}
    
body {
    line-height: 1.667;
    font-family: 'Clarity City', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--dark-gray);
}

.button,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

img,
audio,
video {
    height: auto;  
    max-width: 100%;
    display: block;
} 

/* ----------------------------------- */
/* ---------- Root Variables --------- */
/* ADJUST AS NEEDED - ASSIGN AS NECCESARY */

:root {
    --light-gray: hsl(0, 0%, 85%);
    --dark-gray: hsl(0, 0%, 15%);
    --black: hsl(0, 0%, 15%); /* Can be the same as main, with lightness turned down */
    --yellow-dark: hsl(44, 88%, 48%);
    --yellow-original: hsl(44, 97%, 62%);
    --section-padding: clamp(0.5rem, 3vw, 1rem) clamp(0.1rem, 3vw, 3rem);
}

/* UTILITY CLASSES */

.bold {
    font-weight: 900;
}

/* ----------------------------------- */
/* ----------- Main Styles ----------- */

/* Titles */

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1;
    margin: max(2vw, 0.8rem) 0;
}

h2 {
    font-size: 3rem;
    line-height: 1;
}

/* Header */

header {
    /* width: 100%; */
    /* height: auto; */
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, transparent 30%), linear-gradient(140deg, rgba(0,0,0,1) 0%, transparent 100%), url("/resources/img/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--section-padding);
    color: white;
    margin-bottom: -6rem;

}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;    
    gap: 2rem;

}

nav .logo {
    width: max(20%, 12rem);
}

nav ul {
    display: flex;
    list-style: none;
    gap: min(3vw, 1.5rem);
}


nav ul a{
    font-weight: 900;
    font-style: italic;
    color: var(--light-gray);
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    width: clamp(18rem, 80%, 43rem);
    background: linear-gradient(90deg, hsla(44, 88%, 6%, 0.8), transparent);
    padding: clamp(0.5rem, 3vw, 1rem) clamp(0.1rem, 3vw, 3rem);
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.button {
    background-color: var(--yellow-dark);
    padding: 0.75rem 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    
}

.btn-big {
    padding: min(1.5rem, 5%) min(3rem, 10%);
    font-size: 1.3rem;
    margin: max(2vw, 0.8rem) 0;
    align-self: flex-start;
    white-space: nowrap;
}

.subtitle {
    display: flex;
    align-items: baseline;
    max-width: 70vw;
    
}
.subtitle .divider {
    background-color: var(--yellow-dark);
    height: 0.2rem;
    flex: 2;
}

.div-right {
    display: none;
}

.subtitle h3 {
    white-space: nowrap;
    margin: 0 1.5rem;
    flex: 1;
    text-align: center;
}

.hero h3 {
    color: var(--light-gray);
}

.hero p {
    font-size: clamp(.875rem, 3vw, 1.125rem);
    text-align: justify;
    color: var(--light-gray);
}



/* Social */

.social {
    display: flex;
    gap: 2rem;
    padding: var(--section-padding);
    z-index: 1;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;

}

.stats {
    padding-left: 3%;
}

.stats .number {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    word-spacing: -.5rem;
}

.color-accent {
    color: var(--yellow-dark)
}

.diagonal {
    position: absolute;
    left: -100px;
    top: 0%;
    right: 25%;
    bottom: 0%;
    transform: skew(43deg, 0deg);
    background-color: white;
    z-index: -1;

}
/* Services */

.services {
    padding: var(--section-padding);
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.services .subtitle {
    flex-wrap: wrap;
}

.services .subtitle>h2 {
    width: 100%;
    margin: 1.5rem 0;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    }

.service-card {
    position: relative;
    flex: 0 1 30%;
}

.service-card img {
    width: 100%;
}

.card-content {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
}

.card-content p{
    color: var(--light-gray);
}

.card-mask {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, black 20%, transparent 70%);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

/* Why Us */

.why-us {
    background-color: var(--dark-gray);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: var(--section-padding);
    padding-top: 8rem;
    padding-bottom: 8rem;

}

.car-slant {
    position: relative;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.car-slant img {
    max-height: 40rem;
    margin: auto;
}

.why-us .content {
    grid-column: 2 / 3;
}

.why-us .content .subtitle {
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.why-us .subtitle h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.why-us-advantage {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

/* .slant-block {
    position: absolute;
    top: 70%;
    right: 70%;
    bottom: -2rem;
    left: 10%;
    z-index: 5;
    background-color: var(--yellow-dark);
    transform: skewX(10deg);
} */

/* footer */

footer {
    display: flex;
    background-color: var(--black);
    color: var(--light-gray);
    padding: var(--section-padding);
    justify-content: space-between;
}

.designer img {
    /* max-width: 25%; */
    max-width: 15rem;
    width: 50%;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 60rem) {
    
    /* Header and Hero mq60 */
    
    nav {
        flex-direction: column;
    }

    .hero {
        margin: auto;
        /* background: none; */
        align-items: center;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-big {
        align-self: center;
        margin-top: 1rem;
    }

    .div-right {
        display: inline-block;
    }

    .subtitle {
        width: 100%;
    }
    h1 {
        text-align: center;
    }

    /* Social mq60 */

    .diagonal {
        right: 1%;
        overflow: hidden;
    }

    /* services mq60 */

    .service-card {
        flex-basis: 31.5%;
    }

    /* why us mq60 */

    .why-us {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
    }
    
    .car-slant {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-right: 3%;
        padding-left: 3%;
    }
    
    .why-us .content {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: center;
        padding-right: 3%;
        padding-left: 3%;
    }

    .why-us .subtitle {
        max-width: 100%;
    }

}


@media only screen and (max-width: 50rem) { 

nav li:last-child {
    display: none;
}

.service-cards {
    flex-direction: column;
    align-items: center;
}

.service-card {
    max-width: 80%;
    margin-bottom: 2rem;
}

footer {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

}

.designer img {
    margin: auto;
}
}